@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Essa linha importa uma fonte externa do Google Fonts*/
body {
    margin: 0;
}

.container-header {
    background-color: #d2232a;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}


.header-logo {
    width: 180px;
    margin-left: 225px;
    margin-top: 40px;
}

.menu {
    display: flex;
    gap: 20px;
    /* .menu a vai fazer que com cada link esteja com seus espaçamento individual */
}

.menu a {
    padding: 10px;
    background-color: #b1181dfd;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    /* Faz a letra ficarem MAIUSCULA */

    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    /* Define a espessura da fonte.  */
    font-style: normal;
    /* Mantém o estilo da fonte como normal, sem itálico.  */
}

.menu a:hover {
    text-decoration: dashed;
    background-color: rgb(85, 6, 9);
    text-decoration: underline;
    /* Vai aparecer o traço embaixo */

}

.icon {
    display: flex;
    /* Alinha os ícones horizontalmente */
    align-items: center;
    /* Centraliza os ícones verticalmente */
    gap: 10px;
    /* Espaçamento entre os ícones */
    margin-left: 300px;
}

.icon img {
    width: 20px;
    height: auto;
}

.icon .icon-adidas {
    width: 60px;
    height: auto;
}

.icon a:hover {
    filter: brightness(0) invert(1);
    /* filter: Essa propriedade em CSS define efeitos visuais que podem ser aplicados a um elemento.
    brightness(0): Essa função reduz o brilho do elemento ao mínimo, tornando-o praticamente preto.
    invert(1): Essa função inverte todas as cores do elemento. Combinada com o brightness(0), ela transforma o preto em branco. */
}

/*----------------------------------------------------------------------------------------------------------------*/
.container-navegacao {
    background-color: black;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    /* Centers items vertically */
    justify-content: center;
    /* Centers items horizontally */
}

.navegacao {
    display: flex;
    /* Make the navigation a flex container */
    align-items: center;
    /* Center items vertically within the navigation */
}

.navegacao ul {
    display: flex;
    /* Vai deixar os elemento na horizontal */
}

.navegacao li {
    margin: 10px;
    /* Vai adicionar um espaçamento de 10px */
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    /* Define a espessura da fonte.  */
    font-style: normal;
    /* Mantém o estilo da fonte como normal, sem itálico.  */

}

.navegacao a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    /* Faz a letra ficarem MAIUSCULA */
    border-right: 1px solid #3b3a3a;
    /* Vai fazer uma Borda na vertical. Teoricamente uma linha. */
    padding-right: 10px;
    /*Vai dar o espaçamento da linha para a linha não ficar colado com o nome */
}

.navegacao a:hover {
    color: red;
}

/*-----------------------------------------------------------------------*/
.secao {
    display: flex;
    background-color: #333;
}

.secao-1, .secao-2 {
    width: 850px;
    /* Define a largura fixa */
    height: 480px;
    /* Define a altura fixa */
    overflow: hidden;
    /* Esconde o que ultrapassa os limites do bloco */
    position: relative;
    /* Necessário para o texto sobreposto funcionar */
    margin: 2px;
}

.secao-1 img, .secao-2 img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    /* Ajusta a imagem para preencher o espaço */
    object-position: center;
    /* Centraliza o foco da imagem */
    object-position: center bottom;
    transform: scale(1.1);
    /* Aumentado o zoom */
}

.secao-1:hover img, .secao-2:hover img {
    transform: scale(1.2);
    /* Aplica o zoom ao passar o mouse */
    transition: transform .4s ease-in;
}


/* Container de texto sobreposto */
.noticia-fut {
    position: absolute;
    bottom: 20px;
    left: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fundo semitransparente */
    padding: 5px;
    /* Reduzi o padding */
    border-radius: 5px;
    max-width: 90%;
    z-index: 2;
    /* Garante que o texto fique acima da imagem */
}

.noticia-fut:hover, h2 .remo:hover {
    background-color: rgba(0, 0, 0, 0.900);
}

/* Títulos com fundo colorido */
.noticia-fut p.futebol, .noticia-fut p.remo {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    z-index: 3;
    /* Garante que o fundo do texto fique acima da imagem */
}

/*----------------------------------------------------------------------------*/
.container-jogo {
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", sans-serif;
}

.container-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 400px;


}

.proximo-jogo, .classificacao {
    margin: 95px;
    /* Espaçamento entre proximo jogo e a tabela*/
    margin-top: 40px;
}

h3 {
    margin-bottom: 10px;
    /* Margem inferior para o título Próximo jogo e Classificação*/

}

.campeonato {
    color: white;
    background-color: red;
    padding: 3px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.logo {
    width: 50px;
    /* Largura dos logos */
    height: auto;
    margin: 0 20px;
}

.arena-link {
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-right: 110px;

}

table {
    width: 300px;

}

th, td {

    text-align: left;
}

td img {
    width: 20px;
    /* Largura das imagens na tabela */
    height: auto;
    margin-right: 10px;
}

a {
    margin-top: 10px;
    color: #d2232a;
    text-decoration: none;
    font-weight: 600;
    /* Negrito */

}

#link-tabela {
    font-weight: bold;
    margin-left: 120px;
}

.border-left {
    border-left: 2px solid red;
    padding-left: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------*/
.informacoes {
    display: flex;
    justify-content: space-between;
    /* Espaça os itens igualmente */
    align-items: center;
    background-color: rgb(227, 54, 54);
    font-family: "Rajdhani", sans-serif;
    padding: 20px;
    font-size: 15px;
}

.local, .ct {
    flex: 1;
    /* Faz com que cada seção ocupe o mesmo espaço */
    margin: 0 20px;
    /* Margem entre as seções */
    color: white;
    /* Cor do texto */
    text-align: center;
    /* Centraliza o texto dentro de cada div */
}
/*------------------------------------------------------------------------------------------------------------------*/
.site{
    display: flex;
    justify-content: center;
    align-items: center;
    m
}

/*------------------------------------------------------------------------------------------------------------------*/
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: "Rajdhani", sans-serif;
}

.patrocinadores, .apoio .parceiros {
    margin: 20px;
}

.patrocinadores h2, .apoio h2, .parceiros h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: red;
}

.logos {
    display: inline-block;
    justify-content: center;
}

.logos img {
    margin: 10px;
}