.noticias{
    position: relative;
}
.legenda{
    position: absolute;
    left: 30px;
    bottom: 10px; 
    /* Margem não funciona com o absoluta */
    background-color: red;
}
.legenda h3{
    margin: 0;
    color: white;
    
}
